.phone-icon-container {
  position: absolute;
  top: 10px; /* Pas aan op basis van je layout */
  right: 10px; /* Pas aan op basis van je layout */
  cursor: pointer;
}

.phone-icon-container img {
  width: 30px; /* Pas aan op basis van je layout */
  height: 30px; /* Pas aan op basis van je layout */
}
#start-phone-call.active {
  background: linear-gradient(
    to right,
    rgba(201, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5)
  ); /* Of een andere stijl die aangeeft dat het actief is */
  /* maak de achtergrond met border radius */
  border-radius: 30%;
}
#start-phone-call {
  background: linear-gradient(
    to right,
    rgba(36, 138, 82, 0.5),
    rgba(51, 187, 112, 0.5)
  ); /* Of een andere stijl die aangeeft dat het actief is */
  /* maak de achtergrond met border radius */
  border-radius: 30%;
}
